* {
    margin: 0;
    padding: 0;
}

@page{
    margin-top: 60px;
    margin-bottom: 20px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #305ca8;
    color: white;
    overflow: hidden;
}
    .header-izq {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    .header-der {
        position: absolute;
        bottom: 2px; /* Ajusta este valor para mover el slogan más arriba o abajo */
        right: 10px;
    }

    .logo-empresa {
        width: 150px; /* Ancho más grande para hacerla más horizontal */
        height: auto;
    }

    .slogan {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }


#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    width: 100%;
    background-color: #e9e9e9;
    overflow: hidden;
}
    
    .footer-izq {
        position: absolute;
        bottom: 2px;
        left: 20px;
    }
    
    .footer-der {
        position: absolute;
        bottom: 2px;
        right: 20px;
    }
    
    .fecha {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    
    .paginado {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

.content {
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: #eaeaea;
}

.ti{
    width: 235px;
    margin: 0 auto;
    position: relative;
    top: 30px;
}

    .titulo-test {
        display: inline-block;
        padding: 10px 60px;
        background-color: #ffffff;
        border-radius: 25px;
        font-size: 24px;
        font-weight: bold;
    }

.contenedor-seccion {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
}

/*Primera sección con info del candidato*/
.tabla-datos-candidato {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

    .columna-candidato {
        vertical-align: middle;
        font-size: 16px;
        width: 30%;
        text-align: center
    }

    .columna-candidato div {
        text-align: left;
        display: inline-block;
        width: 100%;
    }

    .columna-divisor {
        width: 3px;
        text-align: right; 
        padding: 0;
        margin-right: 5px;
    }

    .divisor-vertical-info-candidato {
        width: 2%;
        height: 70px;
        background-color: #797979;
        object-fit: cover;
        margin-left: 70%;
    }

    .foto-candidato {
        width: 100%;
        max-width: 150px;
        height: 150px;
        border-radius: 50%; 
        object-fit: cover;
        margin: 0 auto;
    }


/*Segunda sección de puntuacion general*/
.calificadores{
    padding: 20px; 
}

    .calificadores ul {
        padding: 0;
        list-style: none;
    }

    .calificadores li {
        margin-bottom: 15px; 
        display: flex;
        align-items: center; 
    }

    .circulo-calificador {
        display: inline-block; 
        width: 12px; 
        height: 12px; 
        border-radius: 50%; 
        margin-right: 8px;
    }

    .green {
        background-color: green;
    }
    .lightgreen {
        background-color:  #a6d96a;
    }
    .orange {
        background-color: orange;
    }
    .red {
        background-color: red;
    }
    .black{
        background-color: black;
    }


.grafica-comparacion {
    max-width: 100%; 
    width: 300px;
    height: auto;
    display: block;
    margin-top: 10px;
}
.contenedor-seccion.seccion-2 {
    margin-top:20px;
}

.contenedor-seccion.seccion-3 {
    margin-top:20px;
}
.contenedor-seccion.seccion-3 .informacion-prueba {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.contenedor-seccion.seccion-3 .informacion-prueba > div {
    flex: 1; /* Las columnas ocupan el mismo tamaño */
    min-width: 280px;
    box-sizing: border-box;
}


.icono-puntuacion, .icono-informe, .icono-seccion-metrica {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle; 
    margin-right: 5px;
}

.contenedor-s {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;

    background-color: white;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.contenedor-s h5 {
    margin: 0;
    font-size: 16px;
    color: #000;
}

/*Puntuaciones por seccion*/
    .linea-metrica {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin: 30px 0;
    }

    .etiqueta-izq,
    .etiqueta-der {
        width: 120px;
        text-align: center;
        font-size: 14px;
        color: #8f8f8f;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 30px 0;
        width: 100%;
    }

    .separador {
        width: 1px;
        height: 65px;  
        background-color: #ccc;
    }
    .izquierda {
        margin-left: 20px; 
        margin-right: 5px;
    }
    .derecha {
        margin-right: 20px;
        margin-left: 5px;
    }
    .linea {
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, 
            rgb(185, 0, 0) 0%,            
            orange 30%,        
            lightgreen 60%,    
            green 100%);  
        position: relative;
    }

    .numeros {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .numeros span {
        font-size: 12px;
    }

    .puntuacion {
        position: absolute;
        top: -15px;  
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        transform: translateX(-50%);
    }
    .contenedor-metrica {
        width: 100%;
        margin-bottom: 30px;
        border: none !important;
        box-shadow: none !important;
    }

/*Nota confidencialidad*/
.nota {
    position: fixed;
    bottom: 60px;
    left: 47%;
    transform: translateX(-50%);
    width: 90%;
    font-size: 12px;
    text-align: center;
    color: #444;
    line-height: 1.4;
}

/*Decoración final*/
.deco-table {
    position: fixed;
    bottom: 60px; /* Ajusta según la altura del footer */
    left: 50%;
    transform: translateX(-50%);
}
    .deco-td {
        padding: 1px;
        text-align: center;
    }
    .circulo {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    .azul-oscuro {
        background-color: #123456;
    }
    .azul-claro {
        background-color: #66ccff;
    }
    .azul {
        background-color: #3366cc;
    }
    .rojo {
        background-color: #cc3333;
    }